.App {
  text-align: center;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inputBox{
  width:350px;
  height:50px;
  background-color: rgb(224, 221, 221);
  margin:20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

input{
  height:25px;
  width: 150px;
}